@charset "UTF-08";
*{
    margin: 00px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Japan_rementen';
    src: url(/FONT/japan_rementen/Japan\ ramenten.ttf) format('truetype');
}
@font-face {
    font-family: 'Japan2-italic';
    src: url(/FONT/japan2/JAPAN-Bold-Italic.ttf) format('truetype');
}
@font-face {
    font-family: 'Japan2';
    src: url(/FONT/japan2/JAPAN-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'jp-2020';
    src: url(/FONT/japanese_2020/JAPANESE_2020.otf) format('opentype');
}
@font-face {
    font-family: 'Japan-brush';
    src: url(/FONT/japanbrush/JAPANBRUSH.ttf) format('truetype');
}
@font-face {
    font-family: 'Japanola';
    src: url(/FONT/japanola/Japanola.otf) format('opentype');
}
:root{
    --fon1: 'Japan_rementen';
    --fon2: 'Japan2-italic';
    --fon3: 'Japan2';
    --fon4: 'jp-2020';
    --fon5: 'Japan-brush';
    --fon6: 'Japanola';
}
body{
    width: 100%;
    height: 100%;
}
header{
    height: 150px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header > h1{
    color: black;
    font-size: 50px;
    font-weight: 500;
    font-family: var(--fon5);
}
#menu{
    background-color: black;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.link{
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: var(--fon4);
    padding: 15px;

}
.link:hover{
    color: red;
    transition: 0.5s;
    background-color: rgb(43, 43, 43);
}
main{
    background-color: #dadada;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 1000px;
    height: 800px;
    display: block;
    border-radius: 7px;
    margin: 40px;
    border: 2px solid white;
    box-shadow: 1px 7px 10px #000000a6;


}

aside{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}
#conteudo{
    width: 600px;
    height: 820px;
    background-color: #2b2b2b;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 2px 5px 8px #00000083;
    margin-bottom: 50px;
    

}
#conteudo h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}
#conteudo p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin-top: 40px;
}
#title{
    color: white;
    font-size: 1em;
    margin-bottom: 10px;
}
#espe{
    margin: auto;
    width: 500px;
    padding: 12px;
    
}
#espe ul{
    list-style: none;
}
#espe li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: black;
    padding: 5px;
    color: white;
}
span{
    float: right;
    font-weight: bold;
    color: white;
}
hr{
    width: auto;
}
#contato{
    width: 350px;
    height: 500px;
    background-color: rgb(150, 150, 150);
    border-radius: 5px;
    padding: 15px;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.514);
    margin-bottom: 50px;

}
#contato > h1{
    text-align: center;
    font-family: var(--fon2);
    padding: 15px;
    margin-bottom: 20px;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    display: block;
    margin-bottom: 5px;
    margin-top: 8px;
    font-weight: bold;
}
.inf{
    width: 320px;
    padding: 10px;
   font-size: 1em;
  
}
textarea{
    width: 320px;
    height: 150px;
    margin-top: 20px;
    font-size: 1.2em;
    padding: 5px;
}
#btn{
    width: 120px;
    height: 40px;
    display: block;
    margin: auto;
    margin-top: 30px;
    font-size: 1.2em;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    border: none;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.568);
}
#btn:hover{
    color: white;
    transition: 0.5s;
    transform: scale(1.1);
}
::-webkit-scrollbar {
    width: 15px;
    background: black;
}
::-webkit-scrollbar-thumb {
    background: red;
}

@media(max-width: 800px){
    section{
        width: auto;
        height: auto;
    }
    img{
        width: 420px;
        height: 250px;
    }
    #conteudo{
        width: 350px;
        height: 700px;
    }
    #conteudo > h1{
        font-size: 1em;
        text-align: center;
    }
    li{
        width: 300px;
    }
    hr{
        width: 300px;
    }
    #contato{
        margin-bottom: 30px;
    }

}