@charset "UTF-08";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
@font-face {
    font-family: 'Japan_rementen';
    src: url(/FONT/japan_rementen/Japan\ ramenten.ttf) format('truetype');
}
@font-face {
    font-family: 'Japan2-italic';
    src: url(/FONT/japan2/JAPAN-Bold-Italic.ttf) format('truetype');
}
@font-face {
    font-family: 'Japan2';
    src: url(/FONT/japan2/JAPAN-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'jp-2020';
    src: url(/FONT/japanese_2020/JAPANESE_2020.otf) format('opentype');
}
@font-face {
    font-family: 'Japan-brush';
    src: url(/FONT/japanbrush/JAPANBRUSH.ttf) format('truetype');
}
@font-face {
    font-family: 'Japanola';
    src: url(/FONT/japanola/Japanola.otf) format('opentype');
}
:root{
    --fon1: 'Japan_rementen';
    --fon2: 'Japan2-italic';
    --fon3: 'Japan2';
    --fon4: 'jp-2020';
    --fon5: 'Japan-brush';
    --fon6: 'Japanola';
}
header{
    height: 150px;
    background-color: #1A181B;
    display: flex;
    justify-content: center;
    align-items: center;

}
header >h1{
    color: red;
    font-family: var(--fon5);
    text-align: center;
}
#menu{
    width: 100%;
    height: 50px;
    background-color: rgb(43, 43, 43);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.link{
    text-align: center;
    padding: 14px;
    display: block;
    font-size: 1.2em;
    font-family: var(--fon6);
    color: white;
    text-decoration: none;
}
.link:hover{
    color: #C03221;
    transition: all 0.5s;
    background-color: black;
}
section{
    margin: auto;
    background: linear-gradient(-45deg,#1A181B,#564D65,#8a2317);
    background-attachment: fixed;
    padding: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: wrap;
}
.card{
    width: 300px;
    height: 350px; 
    border-radius: 12px; 
 
}
.card:hover{
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0px 6px 5px red;
}
img{
    width: 300px;
    height: 250px;
    display: block;
    border-radius: 12px 12px 0px 0px;
}
.conteudo{
    height: 100px;
    padding: 12px;
    background-color: white;
    border-radius: 0px 0px 12px 12px ;
}
.conteudo h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #1A181B;
}
.conteudo p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: red;
    padding-top: 12px;
}
.conteudo a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #1A181B;
    float: right;
}
footer{
    height: 300px;
    background-color: #1A181B;
}
