@charset "UTF-08";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
@font-face {
    font-family: 'Japan_rementen';
    src: url(/FONT/japan_rementen/Japan\ ramenten.ttf) format('truetype');
}
@font-face {
    font-family: 'Japan2-italic';
    src: url(/FONT/japan2/JAPAN-Bold-Italic.ttf) format('truetype');
}
@font-face {
    font-family: 'Japan2';
    src: url(/FONT/japan2/JAPAN-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'jp-2020';
    src: url(/FONT/japanese_2020/JAPANESE_2020.otf) format('opentype');
}
@font-face {
    font-family: 'Japan-brush';
    src: url(/FONT/japanbrush/JAPANBRUSH.ttf) format('truetype');
}
@font-face {
    font-family: 'Japanola';
    src: url(/FONT/japanola/Japanola.otf) format('opentype');
}
:root{
    --fon1: 'Japan_rementen';
    --fon2: 'Japan2-italic';
    --fon3: 'Japan2';
    --fon4: 'jp-2020';
    --fon5: 'Japan-brush';
    --fon6: 'Japanola';
}
body{
    width: 100%;
    height: 100%;
}
header{
    height: 150px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
header >h1{
    color: black;
    font-family: var(--fon6);
    text-align: center;
    font-weight: 500;
}
#roni{
    width: 76px;
    height: 76px;
}
main{
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    padding: 15px;
    scroll-padding: 12px;
    background-color: #313131;
}
.card{
    flex:  0 0 300px;
    scroll-snap-align: start;
    border-radius: 10px; 
    margin: 25px;
    background-color: #ffffff;
}
.card > img{
    width: 270px;
    height: 200px;
    margin: auto;
    display: block;
    border-radius: 12px;
    margin: 12px;
}
.conteudo{
    height: 100px;   
    padding: 15px;
    background-color: white;

}
.conteudo h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #1A181B;
    text-decoration: none;
}
.conteudo p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: red;
}
.card a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: white;
    margin: auto;
    background-color: black;
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.card a:hover{
    transition: all 0.5s;
    background-color: red;
    color: black;
}  
.carousel-item > img{
    max-height: 620px;
    min-height: 200px;; 
    width: auto;
    background-attachment: fixed;
    background-position: center center;
}
#container-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}
#container-img > img{
    width: 350px;
    padding: 2px;
    background-color: red;
    display: block;
}
section{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    background-color: black;
    padding: 25px;
    align-items: center;
}
#container-block{
    width: 300px;

}
#container-block > span{
    font-size: 2.5em;
    color: white;
}
span{
    font-family: var(--fon4);
}
footer{
    height: 150px;
    background-color: #1A181B;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
    
}
footer > h1{
    font-family: var(--fon6);
    font-size: 3.5em;
    color: red;
    text-align: center;
}
::-webkit-scrollbar {
    width: 15px;
    background: black;
}
::-webkit-scrollbar-thumb {
    background: red;
}
@media (max-width: 800px) {
    #roni{
     display: none;
    }
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #container-block{
        width: 500px;
    }
    #container-img >img{
        display: none;
        
    }
    
}
